# Environnement Python
venv/
__pycache__/
*.pyc

# Fichiers générés
*.pdf
*.html
*.png
pdf_texte.txt

# Exceptions : on garde
!docs/*.png
!index.html

# Données
tournois.csv

# OS
.DS_Store

# IDE
.vscode/
