# Environnement Python
venv/
__pycache__/
*.pyc

# Fichiers générés
*.pdf
*.html
*.png
pdf_texte.txt

# Exception : on garde les screenshots de la doc
!docs/*.png

# Données
tournois.csv

# OS
.DS_Store

# IDE
.vscode/
